<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stylesheets/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/12f77b715a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midas Sample Web App</title>
</head>

<body class="website">
    <nav class="navbar">
        <div class="navbar-elements">
            <ul class="navbar-list">
                <a href="#website" class="navele" id="navLogo">
                    <li class="navele" id="navLogo"></li>
                </a>
                <li class="navele" id="navMidas">
                    <a href="http://midas.iiitd.edu.in/" target="_blank"> Midas IIITD</a>
                </li>
                <li class="navele" id="navHome">
                    <a href="http://midas.iiitd.edu.in/" target="_blank">Home</a>
                </li>
                <li class="navarrow" id="homeArrow">
                    <a href="http://midas.iiitd.edu.in/" target="_blank">
                        <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li class="navele" id="navPages">
                    <a href="http://midas.iiitd.edu.in/papers/" target="_blank">Pages</a>
                </li>
                <li class="navarrow"><a href="http://midas.iiitd.edu.in/papers/" target="_blank"><i class="fas fa-angle-down"></i></a></li>
                <li class="navele" id="navServices">
                    <a href="http://midas.iiitd.edu.in/openings/" target="_blank">Services</a>
                </li>
                <li class="navarrow"><a href="http://midas.iiitd.edu.in/openings/" target="_blank"><i class="fas fa-angle-down"></i></a></li>
                <li class="navele" id="navBlog"><a href="http://midas.iiitd.edu.in/blog/" target="_blank">Blog</a></li>
                <li class="navarrow"><a href="http://midas.iiitd.edu.in/blog/" target="_blank"><i class="fas fa-angle-down"></i></a></li>
                <li class="navele" id="navContacts"><a href="http://midas.iiitd.edu.in/about.html#contact" target="_blank">Contacts</a></li>
            </ul>
            <ul class="navbar-end-list">
                <li class="navend"><a href="https://www.google.com/" target="_blank"><i class="fas fa-search"></i></a></li>
                <li class="navend"><a href="http://midas.iiitd.edu.in/team/" target="_blank"><i class="fas fa-bars"></i></a></li>
            </ul>
        </div>
    </nav>
    <section class="middle-part">
        <div class="people-image"></div>
        <div class="bubble">
            <div class="bubble-text">
                <div class="bubble-text-heading">Web App Task</div>
                <div class="bubble-text-byline">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="bubble-text-buttons">
                    <a href="/login">
                        <div class="bubble-text-buttons-login">
                            LOGIN | SIGNUP
                        </div>
                    </a>
                    <a href="https://www.youtube.com/channel/UCPgCZNqUo3aaIfwtvXinAXw/featured" target="_blank">
                        <div class="bubble-text-buttons-youtube">
                            <div class="bubble-text-button-youtube-logo"></div>
                            <div class="bubble-text-button-youtube-text">GO TO YOUTUBE</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-part">
        <!-- <div class="bottom-scroll"></div> -->
        <div class="outer">
            <div class="inner"><i class="fas fa-angle-down" id="scroll-arrow"></i></div>
        </div>
    </section>
</body>

</html>